body{
    text-align: center;
    text-emphasis-color: white;
    position: absolute;
    background-color: #ac8815;
    
    }

    .btn {
        background-color: #bd0b0b;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }