body {
    text-align: center;
    color: rgb(18, 172, 243);
    background-color: #324d5f;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    margin: 20px 0;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

.btn:focus {
    outline: none;
}

.btn-maliki {
    background-color: #1E3A5F; /* Dark Blue */
}

.btn-hanbali {
    background-color: #3498DB; /* Light Blue */
}

.btn-shafii {
    background-color: #2E86C1; /* Medium Blue */
}

.btn-hanafi {
    background-color: #1B4F72; /* Navy Blue */
}

/* Adding some media queries for better responsiveness */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }

    .btn {
        width: 80%;
    }
}
.back-home {
    margin: 20px;
    text-align: center;
}

.back-home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.back-home-button:hover {
    background-color: #333;
}