body{
    text-align: center;
    text-emphasis-color: white;
    position: absolute;
    background-image:url="Blurred-Web-Backgrounds-HD-Wallpaper.jpg";
    font-family: 'Trebuchet MS';
    
    }
    .btn {
        background-color: #1f53a1;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }