body{
    text-align: center;
    text-emphasis-color: white;;
    background-color: bisque;
    font-family: 'Trebuchet MS';
    background-repeat: no-repeat;
    
    }


    
    .btnaq {
        background-color: #17c3dac0;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

    .btnfi {
        background-color: #11a01d;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

    .btnta {
        background-color: #e4c40e;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

    .btndimu {
        background-color: #1f53a1;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

    #mySidenav a {
        position: absolute; /* Position them relative to the browser window */
        left: -80px; /* Position them outside of the screen */
        transition: 0.3s; /* Add transition on hover */
        padding: 15px; /* 15px padding */
        width: 100px; /* Set a specific width */
        text-decoration: none; /* Remove underline */
        font-size: 20px; /* Increase font size */
        color: white; /* White text color */
        border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
        margin-bottom: -20px; /* Slightly overlap the buttons */
      }
      
      #mySidenav a:hover {
        left: 0; /* On mouse-over, make the elements appear as they should */
      }
      
      #about {
        top: 30px;
        background-color: #04AA6D;
      }
      
      #blog {
        top: 100px;
        background-color: #0963ad; /* Blue */
      }
      
      #projects {
        top: 180px;
        background-color: #bb1d11; /* Red */
      }
      
      #contact {
        top: 260px;
        background-color: #ffae00 /* Light Black */
      }

      #telemuda {
        top: 340px;
        background-color: #ffffff /* Light Black */
      }