body {
    text-align: center;
    background-color: #1c7aa5; /* Bleu pastel */
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

h1 {
    color: #c6d8eb; /* Bleu foncé */
    margin-top: 20px;
}

h2, h3, p {
    color: #c6d8eb; /* Bleu basique */
    margin: 20px 0;
}

header {
    background-color: #1c7aa5; /* Bleu pastel */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.menu-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo h1 {
    margin: 0;
    color: #c6d8eb; /* Bleu foncé */
}

nav {
    display: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    text-decoration: none;
    color: #c6d8eb; /* Bleu foncé */
    font-size: 18px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ffffff;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background-color: #c6d8eb; /* Bleu foncé */
    margin: 4px 0;
    transition: all 0.3s;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #1c7aa5; /* Bleu pastel */
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.mobile-menu a {
    padding: 15px;
    text-decoration: none;
    color: #c6d8eb; /* Bleu foncé */
    border-bottom: 1px solid #c6d8eb;
    transition: background-color 0.3s;
}

.mobile-menu a:hover {
    background-color: #003366; /* Bleu très foncé */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #003366; /* Bleu très foncé */
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    width: 230px;
    margin: 10px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media (min-width: 768px) {
    nav {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .mobile-menu {
        display: none;
    }
}